---
layout: base
---
  
<section class="section section--home highlight-bg">
  <div class="container">
    <article class="home-hero">
      <img class="fade-in-left" src="{{ prefix.optim }}{{ hero_image }}" alt="Photo of Saetta Labs's oscillator" loading="eager" width="745" height="350">
      <hgroup class="fade-in-right">
        <h1 class="page-title" style="margin-bottom:0.5rem;">
          {{ hero_heading }}
        </h1>
        <p>
          {{ hero_subheading }}
        </p>
        <div class="homepage-ctas">
          <a href="/pdfs/datasheet.pdf" class="btn btn--primary">
            Datasheet
            <svg>
              <use xlink:href='#r-arrow' />
            </svg>
          </a>
        </div>
      </hgroup>
    </article>
  </div>
</section>

<section class="section home-about">
  <div class="container container--squeezed">
    <article class="spacing spacing--content">
      {{ about_blurb | markdownify }}
      <a href="/about/" class="readmore">
        <span>
          Read more
        </span>
        <svg>
          <use xlink:href='#r-arrow' />
        </svg>
      </a>
    </article>
  </div>
</section>
