---
layout: base
permalink: /index.html
seo_title: Sapphire Loaded Cavity Oscillators
nav_title: Home
---

<section class="section section--home highlight-bg highlight-bg--curve">
  <div class="container">
    <article class="home-hero">
      <div>
        <img class="fade-in-left" src="{{ prefix.hero }}{{ hero_image }}" alt="Photo of Saetta Labs's oscillator" loading="eager" width="410" height="350">
      </div>
      <hgroup class="fade-in-right">
        <h1 class="page-title">
          {{ hero_heading }}
        </h1>
        <p>
          {{ hero_subheading }}
        </p>
        <div class="homepage-ctas">
          <a href="/pdfs/datasheet.pdf" class="btn btn--primary" target="_blank">
            Datasheet
            <svg>
              <use xlink:href='#r-arrow' />
            </svg>
          </a>
        </div>
      </hgroup>
    </article>
  </div>
</section>

{% if plugs or featured_lab_posts %}
  <section class="section">
    <div class="container container--squeezed">
      <ul class="posts" style="margin:0;padding:0;list-style:none;">
        {% if plugs %}
          {% for plug in plugs %}
            <li class="post">
              <a href="{{ plug.link }}">
                <img src="{{ prefix.postcover }}{{ plug.teaser }}" width="592" height="333" alt="{{ plug.title }}" loading="lazy">
              </a>
              <div class="spacing--content">
                <h2 style="margin-bottom:0.45rem;">
                  {{ plug.title }}
                </h2>
                {{ plug.blurb | markdownify }}
                {% if plug.link_text %}
                  <p style="margin-top:0.45rem">
                    <a href="{{ plug.link }}">
                      {{ plug.link_text}}
                    </a>
                  </p>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        {% endif %}
        {% assign labPosts = collections.posts | where: 'data.homepage' %}
        {% if labPosts %}
          {% for item in labPosts %}
            <li class="post">
              <a href="{{ item.data.link }}">
                <img src="{{ prefix.postcover }}{{ item.data.teaser }}" width="592" height="333" alt="{{ item.data.title }}" loading="lazy">
              </a>
              <div class="spacing--content">
                <h2 style="margin-bottom:0.45rem;">
                  {{ item.data.title }}
                </h2>
                {{ item.templateContent }}
                {% if item.data.link %}
                  <p style="margin-top:0.45rem">
                    <a href="{{ item.data.link_text }}">
                      {{ item.data.link_text }}
                    </a>
                  </p>
                {% endif %}
              </div>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </section>
{% endif %}

<section class="section home-about">
  <div class="container container--squeezed">
    <article class="spacing spacing--content">
      {{ about_blurb | markdownify }}
      <a href="/about/" class="readmore">
        <span>
          Read more about Saetta Labs
        </span>
        <svg>
          <use xlink:href='#r-arrow' />
        </svg>
      </a>
    </article>
  </div>
</section>
