---
layout: base
---

<section class="section section--home highlight-bg highlight-bg--curve">
  <div class="container">
    <article class="home-hero">
      <div>
        <img class="fade-in-left" src="{{ prefix.hero }}{{ hero_image }}" alt="Photo of Saetta Labs's oscillator" loading="eager" width="410" height="350">
      </div>
      <hgroup class="fade-in-right">
        <h1 class="page-title">
          {{ hero_heading }}
        </h1>
        <p>
          {{ hero_subheading }}
        </p>
        <div class="homepage-ctas">
          <a href="/pdfs/datasheet.pdf" class="btn btn--primary" target="_blank">
            Datasheet
            <svg>
              <use xlink:href='#r-arrow' />
            </svg>
          </a>
        </div>
      </hgroup>
    </article>
  </div>
</section>

<section class="section">
  <div class="container container--squeezed">
    <ul class="posts" style="margin:0;padding:0;list-style:none;">
      {% assign featuredPosts = collections.posts | where: 'data.homepage' | sort: 'data.publish_date' | reverse %}
      {% for post in featuredPosts %}
        <li class="post">
          <a href="{{ post.data.link }}">
            <img src="{{ prefix.postcover }}{{ post.data.teaser }}" width="592" height="333" alt="{{ post.data.title }}" loading="lazy">
          </a>
          <div class="spacing--content">
            <h2 style="margin-bottom:0.45rem;">{{ post.data.title }}</h2>
            {{ post.templateContent }}
            <p style="margin-top:0.45rem">
              <a href="{{ post.data.link }}">
                Read more
              </a>
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="section home-about">
  <div class="container container--squeezed">
    <article class="spacing spacing--content">
      {{ about_blurb | markdownify }}
      <a href="/about/" class="readmore">
        <span>
          Read more
        </span>
        <svg>
          <use xlink:href='#r-arrow' />
        </svg>
      </a>
    </article>
  </div>
</section>
