---
layout: base
---

<section class="section">
  <div class="container spacing spacing--products fade-in-all">
    {% for product in products %}
      <div class="even-columns even-columns--{% cycle 'default', 'reversed' %}">
        <figure>
          <img src="{{ prefix.optim }}{{ product.photo }}">
        </figure>
        <article class="spacing spacing--content">
          <h2>
            {{ product.title }}
          </h2>
          {{ product.description | markdownify }}
          <a href="{{ site.domain }}{{ product.datasheet }}" target="_blank" class="readmore">
            Datasheet
            <svg>
              <use xlink:href='#r-arrow' />
            </svg>
          </a>
        </article>
      </div>
    {% endfor %}
  </div>
</section>