---
layout: base
---

<section class="section">
  <div class="container spacing spacing--products fade-in-all">
    {% for product in products %}
      <div class="even-columns even-columns--default">
        <div>
          <img src="{{ prefix.products }}{{ product.photo }}" loading="eager" width="567" height="450" alt="Photo of {{ product.title }}">
        </div>
        <article class="spacing spacing--content">
          <h2>
            {{ product.title }}
          </h2>
          {{ product.description | markdownify }}
          <a href="{{ product.datasheet | replace: "/src", "" }}" target="_blank" class="readmore">
            Datasheet
            <svg>
              <use xlink:href='#r-arrow' />
            </svg>
          </a>
        </article>
      </div>
      <div class="even-columns even-columns--reversed">
        <div>
          <img src="{{ prefix.products }}{{ product.plot_image }}" loading="lazy"  width="567" height="450" alt="Plot showing {{ product.title }} free running">
        </div>
        <article class="spacing spacing--content">
          {{ product.plot_description | markdownify }}
        </article>
      </div>
    {% endfor %}
  </div>
</section>
